.toggle-fullScreen-btn {
  margin-right: 0.5rem;
  text-shadow: 2px 2px 4px black;
  .fa.fa-expand-arrows-alt {
    color: deepskyblue;
  }

  .fa.fa-compress-arrows-alt {
    color: darkgoldenrod;
  }
}

@media(max-width: 1020px) {
  .toggle-fullScreen-btn {
    margin-right: 0.4rem;
  }
}

@media (max-width: 768px) {
  .toggle-fullScreen-btn {
    margin-right: 0;
    .fa.fa-expand-arrows-alt {display: none;}
    .fa.fa-compress-arrows-alt {display: none;}
  }
}
