.about {
  flex: 1 0 auto;
  text-align: center;
  background-image: url("@/assets/background/background01.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .container {
    h1 {
      font-size: 2.5rem;
      margin: 0.7rem auto;
      color: mediumvioletred;
    }

    .about-content {
      .about-description {
        .more {
          display: inline-flex;
          color: lightseagreen;
          cursor: pointer;
          border-bottom: 1px solid transparent;
          margin: 0.5rem;
        }

        .more:hover,
        .more:focus {
          border-bottom: 1px solid lightseagreen;
        }

        h3 {color: deeppink;margin: 0.5rem}
        p {margin: 0 1rem;}
      }

      .about-tech {
        .tech-title{
          color: darkgoldenrod;
          text-decoration: underline;
          font-size: 2.5rem;
          margin: 1rem;
        }
        .tech-list {
          list-style: none;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
          margin: 0 3rem 3rem;

          li {
            background: #3498db;
            color: white;
            padding: 0.7rem 1rem;
            border-radius: 20px;
            font-size: 0.9rem;
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media(max-width: 1020px) {
  .about {
    .container {
      h1 {
        font-size: 2.2rem;
        margin: 0.5rem auto;
      }

      .about-content {
        .about-description {
          .more {margin: 0.5rem;}

          h3 {margin: 0.5rem}
          p {margin: 0 1rem;}
        }

        .about-tech {
          .tech-title{
            font-size: 2rem;
            margin: 0.8rem;
          }
          .tech-list {
            gap: 0.8rem;
            margin: 0 2.5rem 2.5rem;

            li {
              padding: 0.7rem 1rem;
              border-radius: 20px;
              font-size: 0.8rem;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .about {
    .container {
      h1 {
        font-size: 2rem;
        margin: 0.6rem auto;
      }

      .about-content {
        .about-description {
          .more {margin: 0.2rem;}

          h3 {margin: 0.2rem}
          p {margin: 0 0.5rem 0.2rem;}
        }

        .about-tech {
          .tech-title{
            font-size: 1.9rem;
            margin: 0.7rem;
          }
          .tech-list {
            gap: 0.6rem;
            margin: 0 2rem 2rem;

            li {
              padding: 0.7rem 1rem;
              border-radius: 20px;
              font-size: 0.8rem;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
